.Main {
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
}

.Main__p {
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
}

.Main__p__span {
    color: red;
}

.Main__chart {
    width: 100%;
}

.Main__chart__left {
    width: 60%;
}
