.RadioChartVue {
    width: 25%;
    height: 196px;
    margin-top: 20px;
    background-color: red;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
